* {
    text-align: center;
    vertical-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(255, 236, 203);
}

.topnav {
    background-color: rgb(51, 204, 51);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    background-color: rgb(51, 204, 51);
    color: black;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font: Verdana;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    color: black;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .img {
    margin-top: 150px;
    width: 550px;
    height: auto;
  }
